<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link rel="icon" type="image/png" href="../static/lg.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">

    <title>Страница №{{current_page}}</title>
  </head>
  <body>
    <div class="mx-auto p-3" style="width: 1140px;">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if current_page==1 %}
            <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true" href="#">Previous</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{current_page-1}}.html">Previous</a></li>
          {% endif %}
          {% for page in  range(1, pages_count + 1) %}
            {% if page==current_page %}
              <li class="page-item active" aria-current="page"><a class="page-link" href="index{{page}}.html">{{page}}<span class="sr-only">(current)</span></a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="index{{page}}.html">{{page}}</a></li>
            {% endif %}
          {% endfor %}
          {% if current_page==pages_count %}
            <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true" href="#">Next</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{current_page+1}}.html">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="row">
        {% for book in books %}
            <div class="col-6">
              <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="../{{book.img_src}}" class="card-img" alt="{{book.title}}">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <p class="card-text">{{book.author}}</p>
                        <p class="card-text">
                        {% for genre in book.genres %}
                          <span class="badge badge-secondary">{{genre}}</span>
                        {% endfor %}
                        </p>
                        <a href="../{{book.book_path}}" target="_blank" rel="noopener noreferrer">Читать</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          {% endfor %}
      </div>
    </div>

    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>

  </body>
</html>